
.container-inicio{
    display: flex;
    align-items: center;
    color: white;
}
.text{
    margin: 5em;
    padding: 1em;
}
.clas-present{
    font-size: 3em;
}
.clas-present-name{
    font-size: 4.3em;
    color: black;
}
.clas-present-p{
    font-size: 2.6em;
    
}

