
.container-inicio{
    display: flex;
    align-items: center;
    color: white;
}
.text{
    margin: 5em;
    padding: 1em;
}
.clas-present{
    font-size: 3em;
    color: black;
}
.clas-present-name{
    font-size: 4.3em;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
}
.clas-present-p{
    font-size: 2.6em;
    color: black;
    
}

