
.container-inicio{
    display: block;
    align-items: center;
    color: white;
}
.text{
    display: flex;
    flex-wrap: wrap;
    margin: 5em 1 5 5em;
    padding: 1em;
    min-width: 30px;
    font-size: clamp(1.5rem, 1.0774rem, 2.625rem);
}
.clas-present{
    font-size: 3em;
    color: black;
}
.clas-present-name{
    font-size: 4.3em;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
}
.clas-present-p{
    font-size: 2.6em;
    color: black;
    
}
.img{
    flex-basis: 0;
    flex-grow: 999;
    min-width: 17%;
    display: contents;
    font-size: 400em;
 
}